.page-time-nav {
    display: flex;
    border: var(--outlinegray) 1px solid;
    border-radius: 5px;
    .next, .prev {
        width: 50%;
        
        padding: 0.5em 1em;
    }
    .v-bar {
        background-color: var(--outlinegray);
        border-left: var(--outlinegray) solid 1px;
        margin: 0.5em 0;        
        width: 0;
    }
    .next:hover, .prev:hover {
        background-color: var(--background-modifier-cover)
    }
    .page-nav-label {
        font-family: "Inter";
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 3px;
    }
    .next {
        text-align: right;
    }
    .prev {
        text-align: left;
    }
}
