#toggle-label-light, #toggle-label-dark {
  display: none;
}

[saved-theme='light'] #toggle-label-light,
[saved-theme='dark'] #toggle-label-dark {
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
[saved-theme='light'] #toggle-label-light:hover,
[saved-theme='dark'] #toggle-label-dark:hover {
    fill: var(--primary);
}

// class for enabling element only in one mode

[saved-theme='light'] .dark-theme-only,
[saved-theme='dark'] .light-theme-only {
    display: none;
}