.darkmode {
  float: right;
  padding: 1em;
  min-width: 30px;
  position: relative;

  @media all and (max-width: 450px) {
    padding: 1em;
  }

}

#toggle-label-light, #toggle-label-dark {
  display: none;
}

[saved-theme='light'] #toggle-label-light,
[saved-theme='dark'] #toggle-label-dark {
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
[saved-theme='light'] #toggle-label-light:hover,
[saved-theme='dark'] #toggle-label-dark:hover {
    fill: var(--secondary);
}